.important {
    text-transform: uppercase;
}

.admittance {
    color: rgba(26, 9, 234, 0.9);
}

.gallery {
    text-transform: uppercase;
}

p#pullquote {
    text-transform: uppercase;
}